services:
  php:
    build:
      context: .
      dockerfile: docker_components/www/Dockerfile
    container_name: ${PHP_CONTAINER_NAME}
    volumes:
      - ${PROJECT_PATH}:/var/www/html
    networks:
      - app-network

  nginx:
    image: nginx:stable-alpine
    container_name: ${NGINX_CONTAINER_NAME}
    ports:
      - "8080:80"
    volumes:
      - ${PROJECT_PATH}:/var/www/html
      - ./docker_components/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-network

  db:
    image: mariadb:latest
    container_name: ${DB_CONTAINER_NAME}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ${DB_DATA_PATH}:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
